*{
    text-align: center;
}
.div_container{
    display: flex;
margin-left: 33%;}
.boxes{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 25px;
    margin: 2rem;
}
.green{
    background-color: green;
}

.red{
    background-color: red;
}

.purple{
    background-color: purple;
}

.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}
.over{
    background-color: red;
}
